@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300i,400&display=swap');
.main_photo {
	width: 100%;
	height: 100vh;
	background:  no-repeat url("../img/main.png");
	background-position: 52% 0%;
	background-size: cover;
	background-color: black;
	margin-bottom: 80px;
}
.menu {
	/*background-color: rgba(0,0,0,.35);*/
}
.menu_item {
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
  	font-weight: bold;
	font-size: 14px;
	text-align: center;
	color: white;
	padding: 6px;
	border: 2px solid rgba(0,0,0,0);
}
.menu_item:last-child {
	border: 2px solid;
	border-radius: 25px;
}
.logotype {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    color: #fff;
   	height: 25vh;
   	/*background-color: rgba(0,0,0,.3);*/
}
h1 {
	display: flex;
	text-align: center;
	font-size: 28px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	height: 25vh;
	align-items: center;
	line-height: 2.5rem;
	color: #fff;
	/*background-color: rgba(0,0,0,.25);*/
 }
 h2 {
	margin: 0 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
h3 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: auto;
	margin-top: 20px;
	color: #fff;
	opacity: .5;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 16px;
}
p {
  font-size: 14px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  opacity: .5;
  margin-bottom: 16px;
}
h2, h4, p {
  color: #333333;
}
button {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 100px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #ff4e50;
  color: #fff;
  border: none;
  cursor: pointer;
}
.icon {
	margin-top: 20px;
}
.end_button {
	background-color: #fff;
	border: 2px solid #ff4e50;
	color: #ff4e50;
	margin-bottom: 50px;
}
@media (min-width: 768px) {
	.logotype {
		height: auto;
	}
	.main_photo {
	height: 70vh;
	}
	h1 {
		font-size: 48px;
		line-height: 4rem;
		height: 28vh;
		letter-spacing: .2rem;
	}
	h3 {
		font-size: 26px;
	}
}