@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v9-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Ceviche One';
  font-style: normal;
  font-weight: 400;
  src: local('Ceviche One'), local('CevicheOne-Regular'),
       url('../fonts/ceviche-one-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ceviche-one-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ceviche-one-v10-latin-regular.svg#CevicheOne') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: local('Titillium Web Italic'), local('TitilliumWeb-Italic'),
       url('../fonts/titillium-web-v8-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/titillium-web-v8-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/titillium-web-v8-latin-italic.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h3 {
    font-size: 18px;
}
h2, h3 {
    font-family: Montserrat, open sans;
    font-weight: bold;
    color: #222222;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 16px;
    font-family: Titillium Web, sans serif;
    text-align: center;
    color: #777777;
    margin-bottom: 80px;
}
p {
    font-size: 14px;
    font-family: Roboto Slab, sans serif;
    color: #777777;
    line-height: 22px;
    text-align: center;
    margin-bottom: 120px;
}
header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    margin-top: 50px;
    width: 70%;
}
.logo {
    color: #fed136;
    font-size: 26px;
    font-family: Ceviche One, open sans;
}
.menu {
    display: inline-flex;
}
.menu_item {
    font-size: 14px;
    font-family: Montserrat, open sans;
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    margin-left: 40px;
}
.menu_link {
    text-decoration: none;
    color: #222222;

}
.menu_link:hover {
    color: #fed136;
    transition: .3s ease;
}
.icon {
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin: 10px;
    width: 72px;
    height: 72px;
    border: 3px solid #fed136;
    border-radius: 50%;
    margin-bottom: 25px;
}
.feature {
    width: 30%;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}
.features {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.form h2 {
    color: white;
    padding-top: 110px;
}
.form {
    width: 100%;
    background: #222222 url(img/map.png) no-repeat center ;
    position: relative;
}
.fixed_map {
    position: absolute;
    bottom: 15px;
    right: 0;
    height: 75%;
}
form {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 70%;
}
.input_flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 12px;
    box-sizing: border-box;
}
.textarea_flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 12px;
    box-sizing: border-box;
    z-index: 2;
    
}
.input_flex input:nth-child(-n+2) {
    margin-bottom: 25px;
    
}
input {
    height: 50px;
    border-radius: 3px;
    border: none;
    padding: 0;
    z-index: 1;
}
textarea {
    height: 200px;
    border-radius: 3px;
    border: none;
    padding: 0;
    outline: none;
    resize: none;
}
input::placeholder, textarea::placeholder {
    font-size: 14px;
    font-family: Montserrat, sans serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
    color: red;
    color: #bbbbbb;
}
textarea::placeholder {
    padding-top: 12px;
}
.flex_form {
    display: flex;
    flex-wrap: wrap;
}
input[type="submit"] {
    width: 240px;
    height: 65px;
    margin-top: 30px;
    margin-bottom: 120px;
    background-color: #fed136;
    color: #fff;
    font-size: 18px;
    font-family: Montserrat, open sans;
    text-transform: uppercase;
    font-weight: bold;
}
input[type="text"], input[type="email"] {
    box-sizing: border-box;
    outline: none;
    
}
.input_flex  input[type="text"]:nth-child(1):invalid, .input_flex  input[type="email"]:invalid {
    border: 2px solid tomato;
}
.input_flex  input[type="text"]:nth-child(1):valid, .input_flex  input[type="email"]:valid {
    border: 2px solid lightseagreen;
}