@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto&display=swap&subset=cyrillic');

$kaushan: 'Kaushan Script', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

$white: #fff;
$yellow: #fce38a;
$barbie: #f38181;
$mint: #95e1d3;
$black: #333333;
$grey: #999999;

.wrapper {
	width: 100%;
 	height: 90vh;
	background: url('../img/main.jpg') no-repeat;
	background-size: cover;
}
a {
	text-decoration: none;
	color: $white;
	&:hover {
	color: $yellow;
	};
}
%flex-between {
	display: flex;
	justify-content: space-between
}
%width-set {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 30px;
	width: 1200px;
}
%montserrat_upcs_bld {
	text-transform: uppercase;
	font-size: 14px;
	font-family: $montserrat;
	font-weight: bold;
}
.header, .features_container {
	@extend %width-set;
}
.header {
&_logo {
	font-family: $montserrat;
	font-weight: bold;
	font-size: 30px;
	color: $white;
	flex-basis: 50%;
}
&_menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-transform: uppercase;
	font-family: $montserrat;
	flex-basis: 50%;
	color: $white;
	&--item {
	position: relative;
	transition: .5s ease;
	&:hover:after{
		opacity: 1;
	}
		;
	&:after {
		content: '';
		display: block;
		width: 50px;
		height: 3px;
		background-color: $yellow;
		position: absolute;
		bottom: -12px;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		transition: .5s ease;
	}
	}
	}
}
.menu--icon {
	display: flex;
	width: 16px;
	height: 16px;
	fill: white;
	transition: .5s ease;
}
.menu--icon:hover {
	fill: $yellow;
}
h2 {
	text-align: center;
	font-size: 72px;
	font-family: $kaushan;
	color: $white;
	margin-top: 100px;
}
h1 {
	text-align: center;
	font-size: 80px;
	@extend %montserrat_upcs_bld;
	margin-top: 40px;
	color: $white;
}
button {
	text-align: center;
	width: 160px;
	height: 40px;
	border: 3px solid;
	@extend %montserrat_upcs_bld;
	font-size: 14px;
	color: $white;
	background-color: rgba(0,0,0,0);
}
.button_cell {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
h4 {
	text-align: center;
	font-size: 24px;
	font-family: $kaushan;
	color: $black;
	margin-top: 50px;
}
h3 {
	text-align: center;
	font-size: 30px;
	@extend %montserrat_upcs_bld;
	margin-top: 20px;
	color: $black;
	position: relative;
}
h3:after {
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	background-color: $barbie;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
}
h5 {
	text-align: left;
	font-size: 14px;
	@extend %montserrat_upcs_bld;
	color: $black;
	margin-bottom: 20px;
}
p {
	text-align: left;
	font-size: 14px;
	font-family: $roboto;
	color: $grey;
	line-height: 22px;
}
.features_container {
	@extend %flex-between;
	flex-wrap: wrap;
}
.feature_block {
	display: flex;
	flex-basis: 28%;
	margin-top: 100px;
	&--icon {
		display: flex;
		position: relative;
		width: 48px;
		height: 48px;
		top: -12px;
		padding-right: 30px;
	}
}
.card_description {
	padding-top: 80px;
	text-align: center;
	width: 1000px;
	margin: 0 auto;
}
span {
	text-align: left;
	font-size: 14px;
	font-family: $roboto;
	font-weight: 400;
	color: $grey;
	line-height: 22px;
}
.heroes {
	@extend %flex-between;
	width: 1200px;
	margin: 0 auto;
	margin-top: 80px;
}
.hero {
&_block {
	@extend %flex-between;
	flex-basis: 30%;
	width: 30%;
	flex-direction: column;
	position: relative;
}
&_card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 470px;
	background-size: cover;
	transition: .5s ease;
	&:hover {
		box-shadow: 10px 10px 0px $mint;
	}
	&:hover &--socials {
		opacity: 1;
	}
	}
}
.gradient {
	width: 100%;
	height: 470px;
	background: linear-gradient(rgba(243,129,129,1), rgba(252,227,138,1));
	position: absolute;
	opacity: .5;
}
.linear_gradient {
	background: linear-gradient(rgba(243,129,129,1), rgba(252,227,138,1));
}
.dix {
	background: url('../img/dix.jpg') no-repeat;
}
.campbell {
	background: url('../img/campbell.jpg') no-repeat;
}
.ferting {
	background: url('../img/ferting.jpg') no-repeat;
}
.dix:hover, .campbell:hover, .ferting:hover {
	opacity: .5;
}
.hero_card--socials {
	display: flex;
	justify-content: center;
	width: 220px;
	height: 55px;
	opacity: 0;
	transition: .5s ease;
	&-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	background-color: $yellow;
	transition: .25s ease;
	&:hover {
		background-color: $barbie;
	}
}
}
.social_colors {
	fill: $barbie;
}
.hero_card--socials-item:hover .social_colors {
	fill: $white;
}
.hero_card--socials-icon {
	width: 25px;
	height: 25px;
}
.hero {
	&_info--name {
	text-align: center;
	@extend %montserrat_upcs_bld;
	color: $black;
	margin: 15px 0px;
}
	&_info--role {
	text-align: center;
	font-size: 14px;
	font-family: 'Roboto';
	color: $grey;
	font-style: italic;
}
}
.copyright {
	font-family: $montserrat;
	font-size: 14px;
	color: $black;

& a {
	text-decoration: none;
	color: $barbie;
}
}
.send_form {
	display: flex;
	justify-content: flex-end;
}
input {
	width: 230px;
	height: 40px;
	padding: 0;
	padding-left: 10px;
	color: #e7e7e7;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
	border-right: none;
	font-family: $roboto;
	font-style: italic;
}
.form_button {
	width: 150px;
	height: 40px;
	@extend %montserrat_upcs_bld;
	padding: 0;
	font-weight: 700;
	color: white;
	background-color: $mint;
	box-sizing: border-box;
	border: none;
}
footer {
	width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
	@extend %flex-between;
	align-items: center;
	position: relative;
&:before {
	content: "";
	display: block;
	width: 1200px;
	height: 1px;
	background-color: #e7e7e7;
	position: absolute;
	top: -10px;
}
}