/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&display=swap');

.wrapper{
  background-image: url(../img/background-min.png);
  height: 1000px;
  margin-bottom: 50px;
}

.header{
  margin: 0 auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.logo{
  margin: 30px 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.menu{
  padding: 0;
  width: 500px;
  margin-top: 25px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item{
  list-style: none;
}

.menu__item--link{
  text-decoration: none;
  color: white;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.menu__item--line{
  width: 100%;
  height: 3px;
  margin-top: 12px;
  margin-bottom: 0;
  background-color: #fce38a;
  opacity: 0;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.menu__item--link:hover{
  color: #fce38a;
}

.menu__item--link:hover + .menu__item--line{
  opacity: 1;
}

.wrapper__title{
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 72px;
  text-align: center;
}

.wrapper__subtitle{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 150px;
  text-align: center;
  width: 820px;
  margin: 0 auto;
  line-height: 140px;
  margin-bottom: 120px;
}

.wrapper__button{
  font-size: 14px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: 3px solid white;
  padding: 1em 2em;
  background-color: rgba(255,255,255,0);
  display: block;
  margin: 0 auto;
}

.content{
  width: 1200px;
  margin: 0 auto;
}

.content__subtitle{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}

.content__title{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333333;
}

.content__title::after{
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  display: block;
  margin: 40px auto 80px;
}

.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__card{
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.container__card--image{
  width: 32px;
  height: 32px;
  padding: 5px 30px 0 30px;
  fill: #95e1d3;
}

.container__card--paragraph{
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__card--subtitle{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container__card--text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
}

.user-content{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.user-content__text{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #999999;
  font-size: 15px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__wrapper--box{
  position: relative;
  height: 470px;
  width: 380px;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  margin-bottom: 30px;
}

.shadow-box{
  width: 380px;
  height: 470px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 136, 137, 0.9)), to(rgba(240, 217, 137, 0.9)));
  background: -o-linear-gradient(top, rgba(238, 136, 137, 0.9), rgba(240, 217, 137, 0.9));
  background: linear-gradient(to bottom, rgba(238, 136, 137, 0.9), rgba(240, 217, 137, 0.9));
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.user-icon{
  margin: 1px;
  width: 55px;
  height: 55px;
 position: relative;
  background-color: #fce38a;
  

  -webkit-transition: all 200ms linear;
  

  -o-transition: all 200ms linear;
  

  transition: all 200ms linear;
}

.user-icon__size{
  fill: #f38181;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%)
}

.user-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  margin-top: 0;
}

.user-profession{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #999999;
  margin: 0;
}

.user-icon:hover{
  background-color: #f38181;
}

.user-icon:hover > .user-icon__size{
  fill: #ffffff;
}

.card__wrapper--box:hover{
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
          box-shadow: 10px 10px 0px 0px #95e1d3;
}

.card__wrapper--box:hover > .shadow-box{
  opacity: 1;
}

.footer{
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.footer__subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.footer__subtitle--word{
  color: #f38181;
}

.comment{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.comment__comment-area{
  width: 220px;
  height: 38px;
  margin: 0;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-right: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  padding-left: 10px;
  color: #e5e5e5;
}

.comment__comment-button{
  background-color: #95e1d3;
  color: white;
  margin: 0;
  width: 150px;
  height: 40px;
  padding: 0;
  border: none;
}



@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .wrapper {
    background-image: url(../img/background@2x-min.png);
  }
}