body {
	width: 1200px;
	margin: auto;
	margin-bottom: 15px;
}
.logo, h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
}
.menu, h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.menu_list {
	display: flex;
}
.menu_item {
	text-align: left;
	margin: 0 30px;
	}
.menu_list a {
	text-decoration: none;
	color: #95e1d3;
}
.menu_item {
	transition: .2s ease;
	position: relative;
}
.menu_link:hover {
	color: #f38181;
}
.menu_item:hover:after {
	opacity: 1;
	}
.menu_item::after {
	content: "";
	display: flex;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	margin-top: 12px;
	width: 50px;
	height: 3px;
	background-color: #f38181;
	position: absolute;
	transition: .2s ease;
}
header a {
	text-decoration: none;
	color: #95e1d3;
}
header {
	color: #95e1d3;
	justify-content: space-between;
	align-items: center;
	display: flex;
	height: auto;
	margin-top: 30px;
	margin-bottom: 130px;
}
h3, h2, h4, .copyright {
	color: #333333;
}
h3 {
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24px;
	margin-top: 100px;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	position: relative;
}
h2:after {
	content: "";
	display: block;
	margin: auto;
	margin-top: 40px;
	width: 50px;
	height: 3px;
	background-color: #f38181;
	margin-bottom: 60px;
}
h4 {
	display: inline-block;
	margin-bottom: 20px;
}
h5, input{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #999999;
}
p {	display: inline-block;
	font-size: 12px;
	font-family: 'Roboto';
	line-height: 1.25rem;
	color: #999999;
}
.flex_feature {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.feature:nth-child(-n+3) {
	margin-bottom: 100px;}
.feature {
	display: flex;
	width: 30%;
}
.icon {
	margin-right: 30px;
}
.feature_text {
	display: flex;
	flex-direction: column;
}
.our_team_intro {
	display: block;
	margin: auto;
	width: 80%;
	text-align: center;
	margin-bottom: 100px;
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background-color: #fce38a;
	margin-right: 1px;
	z-index: 3;
	transition: .2s;
}
.social:hover {
	background-color: #95e1d3;
}
.social_icons {
	opacity: 0;
	display: flex;
	z-index: 4;
}
.social:nth-child(4) {
	margin-right: 0px;
}
.photo_card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 380px;
	height: 470px;
	position: relative;
	margin-bottom: 30px;
}
.gradient {
	width: 380px;
	height: 470px;
	position: absolute;
	background-image: linear-gradient(#ea8a89, #f2e391);
	opacity: 0;
	z-index: 1;
	transition: .2s;
}
.card:hover .social_icons {
	opacity: 1;
}
.card:hover .gradient{
	z-index: 3;
	opacity: .9;
	box-shadow: 10px 10px 0px 0px #95e1d3;
}
.photo_pic {
	position: absolute;
}
.card {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
.cards {
	display: flex;
	justify-content: space-between;
}
footer {
	margin-top: 100px;
}
.copyright {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.copyright a {
	text-decoration: none;
	color: #f38181;
}
.send_form {
	display: flex;
	justify-content: flex-end;

}
input {
	width: 230px;
	height: 40px;
	padding: 0;
	padding-left: 10px;
	color: #e7e7e7;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
	border-right: none;
}
button {
	width: 150px;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding: 0;
	font-size: 15px;
	font-weight: 700;
	color: white;
	background-color: #95e1d3;
	box-sizing: border-box;
	border: none;

}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
footer:before {
	content: "";
	display: block;
	width: 1200px;
	height: 1px;
	background-color: #e7e7e7;
	position: absolute;
	top: -10px;
}